
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url(https://i.pinimg.com/originals/58/6e/51/586e51559dc40f48cd8ce65af9c1522f.gif);
	background-position: center center;
	background-size: cover;
	min-height: 37.62em;
}

.contenedor {
	width: 90%;
	margin: auto;

}

header {
	padding: 5px 0;
	padding-top: 0px
}

header .contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logotipo {
	font-family: 'Teko';
	font-weight: normal;
	color: #FFF;
	font-size: 50px;
	text-shadow: #AAA 0px 4px;
	object-position: center;
	margin-right: 0px;
}


header nav a {
	color: #FFF;
	text-shadow: #AAA 0px 2px;
	text-decoration: none;
	margin-right: 45px;
	margin-left: : 45px;
	font-family: 'Teko';
    font-size: 20px;
}

header nav a:hover,
header nav a.activo {
	font-size: 21px;
	opacity: 80%;
	
}

.myname {
	font-family: 'Teko';
	font-weight: normal;
	color: #8c2a27;
	font-size: 30px;
	text-shadow: #681f1d 0px 3px;
	object-position: center; 
}

/* comienzo pixeladventure */

.title-pixeladventure {
	font-family: 'Teko';
	font-weight: normal;
	color: #ffcc24;
	font-size: 30px;
	text-shadow: #ff9c24 0px 2px;
	object-position: center;
}

.descripcion-collecion {
  color: #295c2f;
  font-size: 18px;
  font-family: 'Teko';

}

.precio {
	font-family: 'Teko';
	font-weight: normal;
	color: #404040;
	font-size: 20px;
	object-position: center; 
}

.button-pixeladventure {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #295c2f;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  font-family: 'Teko';
  border-radius: 10px;
  text-shadow: #404040 0px 2px;
}

.jugar-ahora {
  text-decoration: none;
}

.separador {
	margin-top: 5px;
}

/* fin pixeladventure */

.subname {
	font-family: 'Teko';
	font-weight: normal;
	color: #404040;
	font-size: 20px;
	object-position: center; 
}

.button-juegos {
	color
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
  max-width: 300px;
  margin: auto;
  text-align: center;
  border-radius: 30px;
}


.title {
  color: #333333;
  font-size: 18px;
  font-family: 'Teko';
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #8c2a27;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  font-family: 'Teko';
  border-radius: 10px;
  text-shadow: #404040 0px 2px;
}

button:hover {
  font-size: 19px;
}


.redes {
  text-decoration: none;
  font-size: 35px;
  color: #FFF;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.credit {
	font-family: 'Teko';
	color: #AAA;
	font-size: 15px;
	text-align: center;
	margin-top: 75px;

}

.download-pixeladventure {
	font-family: 'Teko';
	color: #fff;
	font-size: 16px;
	text-align: center;
	text-decoration: none;

}

a {
	text-decoration: none;
}


/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
	header .logotipo {
		margin-bottom: 10px;
		font-size: 30px;
	}

	header .contenedor {
		flex-direction: column;
		text-align: center;
	}
